.cy__blog-container__article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.cy__blog-container__article-img {
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}

.cy__blog-container__article-img img {
width: 100%;
height: 100%;
}

.cy__blog-container__article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.cy__blog-container__article-content p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}

.cy__blog-container__article-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
}

.cy__blog-container__article-content p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .cy__blog-container__article-content h3 {
        font-size: 18px;
        line-height: 24px;
    }
}
